@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {
  --pagePadding: 4vw;
  --bg: white;
  --element-clr: #2b3743;
  --text-clr: black;
  
  @media (max-width:800px) {
    --pagePadding: .8rem;
  }
}

*,
 *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 300ms ease;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--bg);
}

h1 {
  font-size: 1rem;
  color: var(--text-clr);
}

a {
  text-decoration: none;
  color: unset;
}

a:visited {
  color: var(--text-clr);
}

/* prevents zooming on input click on mobile */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.text {
  color: var(--text-clr);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 7px #00000063;
  padding: .5rem var(--pagePadding);
  width: 100%;
  height: 4rem;
  background: var(--element-clr);
}

.darkmode {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  appearance: none;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  /* color: var(--text-clr); */
}

svg {
  width: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px var(--pagePadding);
}

input {
  width: auto;
  padding: 1rem 1.5rem;
  padding-left: 2.5rem;
  background-image: url(/images/search_icon.svg);
  background-color: var(--element-clr);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 7%;
  border: none;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
  font-family: inherit;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input:focus-visible {
  border: none;
  outline: none;
}

.searching {
  position: absolute;
  top: -1.2rem;
}

select {
  font-family: inherit;
  color: var(--text-clr);
  background: var(--element-clr);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0 .5rem;
}

select > * {
  color: var(--text-clr);
  background: var(--bg);
}

section {
  padding: 0rem var(--pagePadding);
}

.countries_container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(18rem, 20rem) );
  justify-content: center;
  justify-items: center;
  gap: 1.5rem;
  
}

.country {
  width: 20rem;
  min-height: 18rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 200ms ease;
  overflow: hidden;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
  cursor: pointer;
}

.country:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.461);
}

.country_name {
  margin-bottom: 1rem;
}

.country_flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_container {
  height: 50%;
}

.information_container {
  padding: 1rem;
  height: 50%;
}

.search_container {
  position: relative;
}

.results_container {
  position: absolute;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
  background: var(--bg);
  margin-top: .5rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 10;
}

.search_result {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.search_result:visited {
  color: inherit;
}

.search_result:hover {
  color: var(--bg);
  background: var(--text-clr);
  cursor: pointer;
}

.capitalize {
  display: inline;
  text-transform: capitalize;
}


/* COUNTRY DETAILS */

.detail_page {
  padding: 2rem var(--pagePadding);
}

.back_btn {
  width: max-content;
  padding: .3rem 1rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: .3rem;
  color: var(--text-clr);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 250ms ease;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -ms-transition: 250ms ease;
  -o-transition: 250ms ease;
}

.back_btn:hover {
  transform: skew(-5deg);
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
  -ms-transform: skew(-5deg);
  -o-transform: skew(-5deg);
}

.detail_page_image_container {
  max-width: 45%;
}

.detail_page_image {
  width: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
}

.detail_page_title {
  margin-bottom: 1.5rem;
}

.flex_container {
  display: flex;
  gap: 5%;
}

.detail_page_wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3rem;
}

.detail_page_info_container {
  display: flex;
  flex-direction: column;
}

.bordering_countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bordering_country {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.461);
  padding: .3rem 1rem;
  margin-left: .8rem;
  margin-top: .5rem;
  transition: 250ms ease;
  -webkit-transition: 250ms ease;
  -moz-transition: 250ms ease;
  -ms-transition: 250ms ease;
  -o-transition: 250ms ease;
}

.bordering_country:hover {
  color: var(--bg);
  background: var(--text-clr);
}

.border_none {
  margin-left: .5rem;
}

@media (max-width: 800px) {

  .detail_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .back_btn {
    align-self: flex-start;
  }

  .detail_page_image_container {
    align-self: center;
  }

  .detail_page_info_container {
   align-self: center;
   margin-top: 2rem;
   width: 95%;
  }

  .detail_page_wrapper {
    align-self: unset;
  }

  .flex_container {
    flex-direction: column;
  }

  .detail_page_image_container {
    max-width: 95%;
  }

  .bordering_countries {
    align-self: center;
    width: 95%;
  }
}